* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*outline: 1px solid red !important;*/
    margin: 25px;
}

body {
    margin-left: 200px;
    margin-right: 200px;
}

.screenshot {
    max-width: 460px;
}

.description {
    max-width: 705px;
}

.app {
    display: -webkit-flex;
    display: flex;
}

.screenshot {
    margin: 0px;
}

img {
    max-width: 360px;
    max-height: 360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    background-color: #33BEBE;
    font-family: sans-serif;
    color: #ffffff;
    ;
}

